<web-app>
<servlet>
<servlet-name>serv14</servlet-name>
<servlet-class>serv14</servlet-class>
</servlet>
<servlet>
<servlet-name>serv144</servlet-name>
<servlet-class>serv144</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>serv14</servlet-name>
<url-pattern>/serv14</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>serv144</servlet-name>
<url-pattern>/serv144</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>serv14</welcome-file>
</welcome-file-list>
</web-app>